@import '~@/assets/styles/reset.css';
@import '~@/assets/styles/functions/_px2vw.scss';

html,
body {
  font-size: 12px;
  font-family: 'PingFangSC', 'MicrosoftYaHei', 'HelveticaNeue';
  height: 100%;
}

.wrapper {
  height: 100%;
  overflow: auto;
}

.mobile {
  margin: auto;
  width: _px2vw(750);
  min-height: 100%;
  &-home {
    &-test {
      width: px2vw(20);
      height: px2vw(20);
      border-radius: 100%;
      background: #f00;
      margin: auto;
      position: relative;
    }
  }
}
