@import '~@/assets/styles/reset.css';
@import '~@/assets/styles/mixins/_clearfix.scss';
@import '~@/assets/styles/functions/_px2rem.scss';

html,body {
  font-size: 12px;
  font-family: 'PingFangSC', 'MicrosoftYaHei', 'HelveticaNeue';
  height: 100%;
}
.wrapper {
  height: 100%;
  overflow: auto;
}
.mobile{
  width: px2rem(750);
  min-height: 100%;
  margin: auto;
  background: #f5f5f5;
}
