*{
	margin: 0;
	padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling : touch;
}
a,a:focus,a:hover,a:active,a:visited{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
ol, ul, li {
	list-style: none;
}
input,textarea{
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html{
  font-size: 12px;
  font-family: 'PingFangSC', 'Microsoft YaHei', 'HelveticaNeue';
}
